spring:
  application:
  name: curshach

  datasource:
    url: jdbc:postgresql://localhost:5432/spring_knowledge
    username: spring_user
    password: spring_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080


jwt:
  key: 6b0c32f6f4f94e0bb58fa9c4e239fe94df5a0f2d4c199e025f519a44c3dc9e85
